.navbar {
  background-color: #0E1424;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  color: #F3F4F6;
}

.navbar-logo {
  height: 60px;
  width: auto;
  margin-left: 35px;
}

/* RIGHT SIDE (links + sign out together) */
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* links */
.nav-links a {
  text-decoration: none;
  color: #F3F4F6;
}

.nav-links a:hover {
  color: #19C37D;
}

/* sign out button */
.signout-btn {
  background: transparent;
  border: 1px solid #374151;
  color: #9ca3af;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s ease;
}

.signout-btn:hover {
  color: #fff;
  border-color: #fff;
}